{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "SqlDb": "YourConnectionStringHere",
    "SqliteDb": "YourConnectionStringHere"
  },
  "DatabaseChoice" : "SQLite"
}
